*

#met tout ce que tu veut ajouter avec un !connard
#
!.gitignore
!/README.md

!/rofi/**
!/rofi/*
!/rofi/

!/ghostty/**
!/ghostty/*
!/ghostty/

!/hypr/**
!/hypr/*
!/hypr/

!/swww/**
!/swww/*
!/swww/

!/sctipts/**
!/sctipts/*
!/sctipts/

!/.scripts/**
!/.scripts/*
!/.scripts/

!/hyprpanel/**
!/hyprpanel/*
!/hyprpanel/

!.tmux.conf

!/wallpapers/**
!/wallpapers/*
!/wallpapers/

!/videos/**
!/videos/*
!/videos/
